@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>manager</title>
</head>
<body>
    <div>
        <h2>Only Manager is Authenticated for this</h2>
    </div>
</body>
</html>
