@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
      <h1>Current:</h1>  @ViewBag.cur
        <h1>Timeout:</h1> @ViewBag.time
    </div>
</body>
</html>
